src/modules/auth/stateMachines/loginPasswordless/loginPasswordless.stateMachine.yml
name: loginPasswordless
type: EXPRESS
events:
  - http:
      path: auth/login
      method: POST
      action: StartSyncExecution
      cors: true
      request:
        template: lambda_proxy
      response:
        template:
          application/json: |
            $input.json('$.output')
definition:
  Comment: 'Generates a login link and sends an email'
  StartAt: buildInputData
  States:
    buildInputData:
      Type: Task
      Resource:
        Fn::GetAtt: [login-passwordless-build-input-data, Arn]
      Catch:
        - ErrorEquals: ['States.ALL']
          Next: catchAllFallback
      Next: isUserExist
    isUserExist:
      Type: Task
      Resource:
        Fn::GetAtt: [is-user-exist, Arn]
      Catch:
        - ErrorEquals: ['States.ALL']
          Next: catchAllFallback
      Next: isUserExistChoice
    isUserExistChoice:
      Type: Choice
      Choices:
        - Variable: '$.body.statePack.isUserExist'
          BooleanEquals: true
          Next: generateLink
        - Variable: '$.body.statePack.isUserExist'
          BooleanEquals: false
          Next: catchAllFallback
    generateLink:
      Type: Task
      Resource:
        Fn::GetAtt: [generate-link, Arn]
      Catch:
        - ErrorEquals: ['States.ALL']
          Next: catchAllFallback
      Next: sendConfirmationEmail
    sendConfirmationEmail:
      Type: Task
      Resource:
        Fn::GetAtt: [send-confirmation-email, Arn]
      Catch:
        - ErrorEquals: ['States.ALL']
          Next: catchAllFallback
      Next: buildOutputData
    buildOutputData:
      Type: Task
      Resource:
        Fn::GetAtt: [login-passwordless-build-output-data, Arn]
      Catch:
        - ErrorEquals: ['States.ALL']
          Next: catchAllFallback
      End: true
    catchAllFallback:
      Type: Task
      Resource:
        Fn::GetAtt: [catch-all-fallback, Arn]
      End: true
